body {
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #e9896a;
  font-family: 'Kaushan Script', cursive;
  font-size: 5rem;
  margin-top: 50px auto 0 auto;
}

p {
  line-height: 2;
}

h2 {
  color: #e9896a;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #f8a488;
  font-family: 'Montserrat', sans-serif;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #bbbbbb;
  border-width: 6px;
  width: 4%;
}
a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px 10px 20px;
  text-decoration: none;
  padding-top: 200px;
}

a:hover {
  color: #EAF6F6;
}

.Top-container {
  background-color: #b0efeb;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  padding-top: 100px;
  background: #fbe0c4;
}

.contact-me {
  background: #fbe0c4;
  padding-top: 200px;
}

.i-know-you-will {
  position: relative;
  bottom: 140px;
}

.get-in-touch {
  position: relative;
  bottom: 160px;
}

.build {
  position: relative;
  bottom: 120px;
}

.bottom-container {

  background-color: #b0efeb;
  position: relative;
padding: 50px 0 20px 0;

}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 50px;
  width: 12%;
}

.bottom-cloud {
  bottom: 300px;
  left: 200px;
  position: absolute;
  width: 12%;
}

.yetunde-img {
  float: left;
  margin-left: 600px;
  position: relative;
  width: 200px;
}

.sketchup-logo {
  float: right;
  margin-left: 30px;
  width: 25%;
}

.frontend-img {
  float: left;
  margin-right: 30px;
  width: 25%;
}

.profilee {
  margin-left: 600px;
  padding-bottom: 50px;
  padding-top: 70px;
  text-align: left;
  font-family:'Montserrat', sans-serif;
}

.skill-row {
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;
}

.copy-right{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding-left: 20px 0 20px 20px;
}
.skills {
  padding-top: 50px;
}

.intro {
  width: 100%;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #119998);
  background-image: -moz-linear-gradient(top, #11cdd4, #119998);
  background-image: -ms-linear-gradient(top, #11cdd4, #119998);
  background-image: -o-linear-gradient(top, #11cdd4, #119998);
  background-image: linear-gradient(to bottom, #11cdd4, #119998);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: relative;
  bottom: 80px;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
